#t allow access as directory
Options -Indexes

# Display errors
php_flag display_errors on

# Logger Options
php_flag log_errors on
php_value error_log /var/www/html/hotel/logs/application.log

#ErrorDocument 500 "Sorry, our script crashed. Oh dear"

# Ativa o suporte à reescrita de URL.
RewriteEngine On

# Diretório base para sobreescrições
RewriteBase /hotel/

# Não aplica a condição para arquivos que existam. Isso significa que as imagens, CSS, JS e outros arquivos que já existem continuarão funcionando perfeitamente.
RewriteCond %{REQUEST_FILENAME} !-f

# Arquivo para onde deve ser direcionado as requisições.
RewriteRule ^$ config/routes.php [L]

# Necessário duas configurações por causa dos endereços com / e sem /
# Não aplica a condição para arquivos e diretórios que existam na aplicação
RewriteCond %{REQUEST_FILENAME} !-f

# Arquivo para onde deve ser direcionado as requisições.
RewriteRule .(/)?$ config/routes.php

