/* Fixed navbar
------------------------- */
body {
  padding-top: 50px;
  background-color: rgba(93, 89, 89, 0.34);
}

hr {
  border-top: 1px solid #C5BFBF;
}
/* navbar
------------------------- */
.navbar {
  min-height: 30px;
}
/* containers
------------------------- */
.center-container, .side-container {
  padding: 10px;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.70);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* custum side-nav
------------------------- */
.custum-side-nav {
  font-size: 12px;
}

.custum-side-nav li > a{
  padding: 5px 7px;
}

/* Table options
------------------------- */

table td.options {
  width: 200px;
}

table td.options ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

table td.options ul li {
  display: inline;
}

/* Signin
------------------------- */
.form-signin, .links {
  max-width: 330px;
  margin: 0 auto;
  padding-left: 15px;
}

.form-signin{
  padding: 15px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin, .links, .sign-up {
  max-width: 430px;
  margin: 0 auto;
  padding-left: 15px;
}

.form-group.has-error span.help-inline {
  color: #b94a48;
}

.form-group .errors {
  color: #b94a48;
}


/* Admin contacts message
------------------------- */
#contacts .message {
  background-color: #f5f5f5;
  color: #555;
  font-size: 18px;
  font-family: courier, monospace;
}

/* Admin rooms 
------------------------- */
#rooms-admin .photos {
  margin-top: 5px;
}

#rooms-admin .photos img {
  margin-right: 10px;
  margin-top: 10px;
}

#rooms-admin .photos div.center {
  text-align:center;
  margin: 10px;
}
